# Make sure to change pdns/pdns.conf as well when changing these
export DB_NAME="pdns"
export DB_USER="pdns"
export DB_PASSWORD="superSecret"
export DB_ROOT_PASSWORD="superRootSecret"

export DB_MY_CNF="[client]
password=superRootSecret

"

# PowerDNS
export API_KEY="superAdminKeySecret"

# PowerDNS Admin
export ADMIN_DB_NAME="pdns-admin"

# dnsweaver
export DNSWEAVER_PDNS_ZONE="home.example.com"
export DNSWEAVER_PDNS_DOMAINS="*.home.example.com"
export DNSWEAVER_INCUS_URL="https://10.90.190.1:8443"
export DNSWEAVER_INCUS_DOMAIN_SUFFIX="home.example.com"

# Incus
export NETWORK="pdns0"
export DNSCRYPT_IPV4_ADDRESS="10.138.32.2"
export PDNS_IPV4_ADDRESS="10.138.32.3"
export ADMIN_IPV4_ADDRESS="10.138.32.4"
export IPV4_GATEWAY="10.138.32.1"
export IPV4_NETMASK="24"
