www.example.com {
	redir https://example.com
}

docker-registry.example.com {
	log {
		output file /var/log/caddy/docker-registry.example.com-access.log
	}

	reverse_proxy 10.132.32.17:5000
}

ghcr-registry.example.com {
	log {
		output file /var/log/caddy/ghcr-registry.example.com-access.log
	}

	reverse_proxy 10.132.32.18:5000
}

gitlab-registry.example.com {
	log {
		output file /var/log/caddy/gitlab-registry.example.com-access.log
	}

	reverse_proxy 10.132.32.19:5000
}

immich.example.com {
	log {
		output file /var/log/caddy/immich.example.com-access.log
	}

	reverse_proxy 10.131.32.17:2283
}

clock.example.com {
	log {
		output file /var/log/caddy/time.example.com-access.log
	}

	reverse_proxy 10.137.32.17:8001
}

git.example.com {
	log {
		output file /var/log/caddy/git.example.com-access.log
	}

	reverse_proxy 10.136.32.17:3000
}

example.com {
	log {
		output file /var/log/caddy/example.com-access.log
	}

	root * /var/www/example.com
	encode
	handle_errors {
		rewrite * /
		file_server
	}
	file_server
}
